
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>结合状态机的开发风格 - 小毛的胡思乱想</title>
  <meta name="author" content="蔡晓建">

  
  <meta name="description" content="结合状态机的开发风格">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://mccxj.github.com/blog/20140819_state-machine-dev.html">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="小毛的胡思乱想" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">小毛的胡思乱想</a></h1>
  
    <h2>凡走过,必留痕迹.</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:mccxj.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">结合状态机的开发风格</h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-08-19T00:00:00+08:00" pubdate data-updated="true">Aug 19<span>th</span>, 2014</time>
        
         | <a href="#disqus_thread">Comments</a>
        
      </p>
    
  </header>


<div class="entry-content"><p>本文主要以XXX的html5版本为蓝本，讨论结合状态机开发的思路和实践方式。状态机选型使用<a href="https://github.com/burrows/statechart.js">statechart.js</a>。</p>

<h3>起步知识</h3>

<ul>
<li>状态机介绍，请参考<a href="http://burrows.github.io/statechart-angular-pres">Statecharts and Angular.js</a></li>
<li>statechart.js的基本使用方法，请参考<a href="https://github.com/burrows/statechart.js">statechart.js</a></li>
</ul>


<p>特别是状态机介绍，内容非常好，强烈推荐。</p>

<h3>适用场景</h3>

<ul>
<li>主要用于某个具体业务的复杂页面流控制</li>
<li>简单的业务流程是不需要的。例如只有一两个页面(列表+详情)</li>
<li>适用于多步骤多页面(包括弹出框)、各种跳转的场景</li>
</ul>


<h3>如何定义状态?</h3>

<p>根据页面流、步骤来定义状态。可以参考以下步骤：</p>

<ul>
<li><p>对照保真、流程图，划分每个独立页面
以个人营销活动为例，主要页面包括活动页面、选档次页面、奖品页面、奖品包选择页面、缴费页面、发票页面。
那么可以考虑定义为list、level、reward、giftpack、charge、invoice</p></li>
<li><p>对于有多种弹出窗口的情况，可以考虑定义子状态
以推荐业务为例，在菜单页面上，可能会弹出反馈窗口，或者产品订购窗口。
那么可以考虑定义为menu/index、menu/feedback、menu/prod，这样的话，通过下面的页面控制，就可以让在值状态的情况下，菜单页面一直显示。</p></li>
</ul>


<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/menu&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/recommended/recommended_menu.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/menu/prod&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/recommended/recommended_orderprod.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/menu/feedback&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/recommended/recommended_feedback.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<ul>
<li>对于页面显示，有较多共性的页面，可以考虑定义子状态，方便共享逻辑和事件处理
以上述的个人营销活动为例，奖品页面、奖品包选择页面的页面很类似，功能操作也比较实现，可以定义成子状态，如order/reward、order/giftpack</li>
</ul>


<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/list&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_list.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/level&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_level.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/order/reward&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_reward.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/order/giftpack&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_giftpack.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/invoice&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_invoice.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span><span class='line'><span class="nt">&lt;div</span> <span class="na">ng-show=</span><span class="s">&quot;fsm.isCurrent(&#39;/charge&#39;)&quot;</span> <span class="na">ng-include=</span><span class="s">&quot;&#39;app/partials/personalMarketCamp/personalMarketCamp_charge.html&#39;&quot;</span><span class="nt">&gt;&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<h3>如何控制页面的显示、如何响应页面操作?</h3>

<ul>
<li>页面显示与否，通过状态机的状态，而不是数据的状态。这里用的是isCurrent方法</li>
<li>页面操作，通过状态机的事件发送，而不是直接使用绑定在$scope的方法。这里用的是send方法</li>
<li>页面跳转，通过状态机的状态变化来驱动。这里用的是goto方法，是在send方法之后的event逻辑中处理的。</li>
</ul>


<p>页面显示与否，例子上面已经说了。而对于ng-click这种事件触发，直接用send方法即可。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;Feedback-btn&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;a</span> <span class="na">ng-click=</span><span class="s">&quot;fsm.send(&#39;feedback&#39;, &#39;hesitate&#39;)&quot;</span> <span class="na">class=</span><span class="s">&quot;accept-btn&quot;</span><span class="nt">&gt;&lt;span&gt;</span>考虑<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
</span><span class='line'>  <span class="nt">&lt;a</span> <span class="na">ng-click=</span><span class="s">&quot;fsm.send(&#39;feedback&#39;, &#39;refuse&#39;)&quot;</span> <span class="na">class=</span><span class="s">&quot;refuse-btn&quot;</span><span class="nt">&gt;&lt;span&gt;</span>拒绝<span class="nt">&lt;/span&gt;&lt;/a&gt;</span>
</span><span class='line'><span class="nt">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>可以看到，事件也可以捎带参数的，这样可以在该状态的event中进行处理，如下：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
</pre></td><td class='code'><pre><code class='coffeescript'><span class='line'><span class="c1"># 反馈</span>
</span><span class='line'><span class="nx">@state</span> <span class="s">&#39;feedback&#39;</span><span class="p">,</span> <span class="nf">-&gt;</span>
</span><span class='line'>  <span class="c1"># 进行反馈操作</span>
</span><span class='line'>  <span class="nx">@event</span> <span class="s">&#39;feedback&#39;</span><span class="p">,</span> <span class="nf">(operationtype) -&gt;</span>
</span><span class='line'>    <span class="nv">product = </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">viewModel</span><span class="p">.</span><span class="nx">product</span>
</span><span class='line'>    <span class="k">if</span> <span class="nx">product</span><span class="p">.</span><span class="nx">opertype</span> <span class="o">==</span> <span class="s">&#39;1&#39;</span>
</span><span class='line'>      <span class="k">new</span> <span class="nx">Toast</span><span class="p">(</span>
</span><span class='line'>        <span class="nv">context: </span><span class="nx">$</span><span class="p">(</span><span class="s">&#39;body&#39;</span><span class="p">)</span>
</span><span class='line'>        <span class="nv">message: </span><span class="s">&quot;该产品不可推荐&quot;</span>
</span><span class='line'>      <span class="p">).</span><span class="nx">show</span><span class="p">();</span>
</span><span class='line'>      <span class="k">return</span>
</span><span class='line'>
</span><span class='line'>    <span class="nx">qryfeedbackService</span><span class="p">.</span><span class="nx">event</span>
</span><span class='line'>      <span class="s">&quot;userseq&quot;</span><span class="o">:</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">viewModel</span><span class="p">.</span><span class="nx">product</span><span class="p">.</span><span class="nx">userseq</span>
</span><span class='line'>      <span class="s">&quot;servnumber&quot;</span><span class="o">:</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">telnum</span>
</span><span class='line'>      <span class="s">&quot;operationtype&quot;</span><span class="o">:</span> <span class="nx">operationtype</span>
</span><span class='line'>    <span class="p">.</span><span class="nx">then</span> <span class="nf">(ok) =&gt;</span>
</span><span class='line'>        <span class="nx">@goto</span> <span class="s">&#39;/menu/index&#39;</span>
</span><span class='line'>      <span class="p">,</span> <span class="nf">(err) -&gt;</span>
</span><span class='line'>        <span class="k">new</span> <span class="nx">Toast</span><span class="p">(</span>
</span><span class='line'>          <span class="nv">context: </span><span class="nx">$</span><span class="p">(</span><span class="s">&#39;body&#39;</span><span class="p">)</span>
</span><span class='line'>          <span class="nv">message: </span><span class="nx">err</span>
</span><span class='line'>        <span class="p">).</span><span class="nx">show</span><span class="p">()</span>
</span></code></pre></td></tr></table></div></figure>


<p>需要注意的是，event是挂靠在某个状态下的，如果你是子状态的话的，event会先在子状态中找，如果没有找到会在父状态上找。
通过这种方式，就可以实现多个子状态共享event，例如奖品页面、奖品包页面都有选择功能，就可以把这个操作放到父状态的event中去。</p>

<h3>更多状态机的细节</h3>

<p>很多状态机都实现了某些特殊状态，如进入状态，退出状态这种事件。statechart也实现了，对应的是enter和exit，代码大体上是:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='coffeescript'><span class='line'><span class="nx">@state</span> <span class="s">&#39;menu&#39;</span><span class="p">,</span> <span class="nf">-&gt;</span>
</span><span class='line'>  <span class="nx">@enter</span> <span class="nf">-&gt;</span>
</span><span class='line'>    <span class="c1">#TODO</span>
</span><span class='line'>
</span><span class='line'>  <span class="nx">@exit</span> <span class="nf">-&gt;</span>
</span><span class='line'>    <span class="c1">#TODO</span>
</span></code></pre></td></tr></table></div></figure>


<p>但是需要注意的是，重复进入这个状态的话，是会重复执行的。所以对于A -> B -> C这样的业务流程，从A到B和C回退到B，都会执行这个enter，
就无法区分这种情况了。因为通常，从A到B是进行初始化，而从C回到B得保留原来B的数据状态。所以实际上我很少使用这些特殊事件，除非：</p>

<ul>
<li>无需区分的情况，这样写会让代码风格更统一。</li>
<li>没有接口交互，本地操作的话，因为这种消耗小很多。</li>
<li>存在直接跳转到该状态的情况(例如由另外的业务跳转过来)，这种特殊情况下前面的步骤都被忽略。而且这种情况下，需要通常需要接口交互(例如补充某些必要信息)，而为了区分回退的情况，我通常会根据业务特性考虑一些数据缓存处理。</li>
</ul>

</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">蔡晓建</span></span>

      








  


<time datetime="2014-08-19T00:00:00+08:00" pubdate data-updated="true">Aug 19<span>th</span>, 2014</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/angular/'>angular</a>, <a class='category' href='/blog/categories/statechart/'>statechart</a>, <a class='category' href='/blog/categories/zhuang-tai-ji/'>状态机</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/20140815_json-intro.html" title="Previous Post: json格式须知">&laquo; json格式须知</a>
      
      
        <a class="basic-alignment right" href="/blog/20141126_org-json-and-xml.html" title="Next Post: 使用org.json库进行xml和json转换存在的问题">使用org.json库进行xml和json转换存在的问题 &raquo;</a>
      
    </p>
  </footer>
</article>

  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
  </section>

</div>

<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/20160909_java-xml.html">java xml技术简单总结</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160906_java-books.html">java相关技术书推荐</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160607_log4j-source-study.html">log4j源码心得</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160602_java-object-unknown-state.html">避免对象未知状态</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160426_commons-logging-source.html">commons-logging源码学习</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160416_svn-handshake-failure.html">svn报文转发出现handshake_failure的问题</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160216_heapdump-intro.html">heapdump分析简单总结</a>
      </li>
    
      <li class="post">
        <a href="/blog/20160105_source-reading.html">源码阅读应该得到什么?</a>
      </li>
    
      <li class="post">
        <a href="/blog/20151226_commons-dbcp-source-view.html">从commons-dbcp源码学习设计思路</a>
      </li>
    
      <li class="post">
        <a href="/blog/20151216_aes256-Illegal-key-size-or-default-parameters.html">AES256算法遇到 Illegal key size or default parameters的解决办法</a>
      </li>
    
  </ul>
</section>

<section>
<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=8&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=1735848865&verifier=fa40be14&dpc=1"></iframe>
</section>

<section>
  <h1>GitHub Repos</h1>
  <ul id="gh_repos">
    <li class="loading">Status updating...</li>
  </ul>
  
  <a href="https://github.com/mccxj">@mccxj</a> on GitHub
  
  <script type="text/javascript">
    $.domReady(function(){
        if (!window.jXHR){
            var jxhr = document.createElement('script');
            jxhr.type = 'text/javascript';
            jxhr.src = '/javascripts/libs/jXHR.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(jxhr, s);
        }

        github.showRepos({
            user: 'mccxj',
            count: 0,
            skip_forks: true,
            target: '#gh_repos'
        });
    });
  </script>
  <script src="/javascripts/github.js" type="text/javascript"> </script>
</section>


  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2016 - 蔡晓建 -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'mccxj';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://mccxj.github.com/blog/20140819_state-machine-dev.html';
        var disqus_url = 'http://mccxj.github.com/blog/20140819_state-machine-dev.html';
        var disqus_script = 'embed.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>











</body>
</html>
